body {
  text-align: center;
  font-family: 'Open Sans', 'Monteserrat',serif;
  font-size:1rem;
  font-style: normal;
  margin: 0 auto;
  background: linear-gradient(to top left, #a9a9ff 0%, #8989ee 100%);
  background-color: #a9a9ff;
  width: 90%;
}

div{
  display: inline-table;
}

em{
  font-size: 120%;
}

hr{
  border: 3px;
  border-style:dashed;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width:100px;
}


li{
  padding-top: 1px;
  list-style-type:circle;
  margin-left: 3rem;
  text-align: justify;
}


h1 {
  margin-top: 50px;
  font-size: 500%;
  margin-bottom: 0;
}

h2 {
  font-family: 'Special Elite', cursive;
  font-size: 2rem;
  font-weight: normal;
}

h3{
  text-align: center;
  font-weight: bold;
}

h4, h5 {
  margin-top: 0;
}

h6{
  font-size: .7rem;
}

img {
  position: relative;
}

a:link {
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  border-style: solid;
  border-width:thin;
}

a:active {
  color:black;
  text-decoration: none;
}

.top-container {
  border: 10px solid black;
  padding: 20px;
  background: linear-gradient(to top, #c3d9ff 0%,#b1c8ef 41%,#88a0c9 100%);
  position: relative;
  padding-top: 100px;
  padding-bottom: 0;
  width: 90%;
}

.middle-container {
  margin: 0 auto 3em auto;
}

.bottom-container {
  display:inline-table;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position:absolute;
  left:100px;
  bottom: 400px;
}


.handwrited{
  margin-top: 0;
  font-family: 'Special Elite', cursive;
  font-size: 5em;
}


.img-relative {
  position: relative;
  right: 2em;
}


.img-fixed {
  position:fixed;
  right:2em;
  top:2em;
}

.curriculo{
  display: inline-table;
  text-align: left;
  margin-bottom: 5em;
}

.mountain {
  /*left:5em;
  top:4em;*/
  position: absolute;
  right: 0;
  bottom: 0;

}

.skill-row{
  margin: 50px auto auto auto ;
  width: 80%;
  line-height: 1.3;
  text-align: left;
}

.icons{
  max-width: 200px;
}

.icons-left{
  max-width: 200px;
  float:left;
  margin-right: 50px;
}

.pro {
  text-decoration:line-through;
}
