body {
  font-family:'Open Sans',  "Helvetica","Arial", sans-serif;
  font-style: normal;
  margin: 0 auto;
  /* background: linear-gradient(to top, #857655 0%, #B5A685 5%, #D5C6A5 100%); */
  background: linear-gradient(to top, #B5A685 0%, #D5C6A5 100%);
  height: 100%;
  vertical-align: middle;
  text-align: center;
  display:grid;
}

a{
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: darkslategray;
  padding: 0 10px;
}

a:visited {
  color: #404022;
}

a:hover {
  color: black;
  border-style: solid;
  border-radius:8px;
  border-width:thin;
}

a:active {
  color: olive;
}

hr{
  border: dotted 6px;
  border-bottom: none;
  margin: 5em auto 5em auto;
  width:10%;
}

li{
  margin: 0 auto;
  padding-top: 1px;
  list-style-type:circle;
  text-align: left;
}

em{
  font-size: 120%;
}

img {
  position: relative;
  border-radius: 1em;
  margin-bottom: 2rem;
}

div{
  margin-top: 2rem;
  vertical-align: middle;
  text-align: center;
}

p{
  font-size: 1rem;
}


td, tr{
    font-size: 100%;
}

/* Cabeçalho */


.narrow{
  max-width:50px;
}

.bloco{
  font-size: 1rem;
}

.letramaior{
  font-size: 1.3rem;
}

.letramenor{
  font-size: 1rem;
}

.container-fluid {
  padding: 0 15% 3% 15% ;
}

.topspace{
  margin-top: 3rem;
}


.borda{
  border: 2pt solid black;
}

.smallicon {
  width: 100px;
  margin-left: 1em;
  text-align: left;
  display:block;
  margin: auto;
}

.invisible{
  color: #D5C6A5;
}

.end{
  font-size: .8rem;
}

.smallTable{
  max-width: 600px;
  margin:auto;
  text-align: left;
}

.glued {
  margin-top: 0px;
}


/* Footer */
.by {
  width: 80px;
  height: 40px;
  background-color: black;
  color: white;
  margin: 10px auto;
}

.gazstao {
  width: 80px;
  height: 40px;
  background-color: yellow;
  color: black;
  transform: rotate(25deg);
  margin: 0 auto 5% auto;
  position: relative;
  bottom: 20px;
}

.container-fluid {
  padding: 0 15% 3% 15% ;
}

.imagem {
    width: 600px;
    height: 370px;
    object-fit:scale-down ;
    object-position: center;
    border-radius: 5%;
}

.ulDiv{
  max-width: 800px;
  margin: 0 auto;
}
